<html lang="hu">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="text-center">
<main class="form-signin w-100 m-auto">
  <div class="container d-flex justify-content-center vh-100 align-items-center">
  <form>
    <h1 class="h2 mb-3 fw-normal">Privát blogok</h1>
    <h2 class="h4 mb-3 fw-normal">Kérlek válassz az alábbi opciók közül:</h2>
    <button class="w-100 btn btn-lg btn-primary" type="submit" routerLink="/login">Bejelentkezés</button>
    <button class="mt-3 w-100 btn btn-lg btn-success" type="submit" routerLink="/register">Regisztráció</button>
  </form>
  </div>
</main>
</body>
</html>
