<html lang="hu">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="text-center">
<main class="form-signin w-100 m-auto">
  <div class="container d-flex justify-content-center vh-100 align-items-center">
    <form>
      <h1 class="h2 mb-3 fw-normal">Privát blogok</h1>
      <h2 class="h4 mb-3 fw-normal">Kérlek regisztrálj be a weboldalra!</h2>
      <div class="form-floating">
        <input type="text" class="form-control" id="usernameInput" placeholder="lakatosjani11">
        <label for="usernameInput">Felhasználónév</label>
      </div>
      <div class="form-floating mt-3 mb-3">
        <input type="email" class="form-control" id="emailInput" placeholder="name@example.com">
        <label for="emailInput">Email cím</label>
      </div>
      <div class="form-floating mt-3 mb-3">
        <input type="password" class="form-control" id="passwordInput" placeholder="Password">
        <label for="passwordInput">Jelszó</label>
      </div>
      <button class="mt-2 mb-2 w-100 btn btn-lg btn-success" type="submit">Regisztráció</button>
    </form>
  </div>
</main>
</body>
</html>
